{% extends 'base.html' %}

{% block content %}
  <h2 class="card-title">File Upload Book Project by Ashish</h2>
  <p class="card-text">Django 3.2.6 / Python 3.9</p>
  <p class="card-text">
    Watch it on <a href="https://www.youtube.com/playlist?list=PLLxk3TkuAYnpm24Ma1XenNeq1oxxRcYFT">YouTube</a> or
    read the <a href="https://simpleisbetterthancomplex.com/tutorial/2016/08/01/how-to-upload-files-with-django.html">Blog Post</a>.
  </p>
  <p class="card-text">
    Ashish Bhombe<br>
    <a href="https://twitter.com/AshishBhombe">@AshishBhombe</a>
  </p>
{% endblock %}
